<div class="orders-wrapper p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold m-0">Orders list</h2>
  </div>

  @if (pagedOrders && pagedOrders.length > 0) {
    <div class="table-container shadow-sm rounded bg-white">
      <table class="table table-hover m-0">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>longitude</th>
            <th>latitude</th>
            <th>timestamp</th>
            <th>subtotal</th>
            <th>tax</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          @for (order of pagedOrders; track $index) {
            <tr>
              <td>{{ (currentPage - 1) * pageSize + $index + 1 }}</td>

              <td>{{ order.longitude }}</td>
              <td>{{ order.latitude }}</td>

              <td>{{ order.timestamp }}</td>

              <td>{{ order.subtotal }}</td>

              <td>{{ order.tax?.composite_tax_rate }}%</td>

              <td class="fw-bold">
                {{ order.subtotal + 0.01*(order.tax?.tax_amount || 0) }}
              </td>
            </tr>
          }
        </tbody>
      </table>

      <div class="pagination-container">
        <div class="pagination-bar">
          <button class="arrow-btn" (click)="prevPage()" [disabled]="currentPage === 1">
            <i class="bi bi-caret-left-fill"></i>
          </button>

          <div class="page-numbers">
            @for (page of visiblePages; track page) {
              <button
                class="page-btn"
                [class.active]="page === currentPage"
                (click)="goToPage(page)"
              >
                {{ page }}
              </button>
            }
            @if (totalPages > 5 && currentPage < totalPages - 2) {
              <span class="dots">...</span>
            }
          </div>

          <button class="arrow-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
    </div>
  } @else {
    <div class="empty-state text-center py-5">
      <i class="bi bi-cloud-download display-1 text-light"></i>
      <p class="fs-4 text-muted mt-3">No orders found. Please, import a CSV file.</p>
    </div>
  }
</div>
