<div class="bg-white rounded shadow-sm">
	<table class="table table-bordered mb-0">
		<thead class="table-dark text-center">
		<tr>
			<th>ID</th><th>longitude</th><th>latitude</th><th>timestamp</th><th>subtotal</th><th>tax</th><th>total</th>
		</tr>
		</thead>
		<tbody [formGroup]="orderForm">
		<ng-container formArrayName="rows">
			@for (row of rows.controls; track i; let i = $index) {
				<tr [formGroupName]="i">
					<td><input formControlName="id" class="form-control border-0 text-center"></td>
					<td><input formControlName="longitude" class="form-control border-0 text-center"></td>
				</tr>
			}
		</ng-container>
		<tr class="bg-light cursor-pointer text-center" (click)="addRow()">
			<td colspan="7" class="py-2 text-muted"><i class="bi bi-plus-lg"></i></td>
		</tr>
		</tbody>
	</table>
</div>